* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html {
  background-color: var(--col-0);
  box-sizing: border-box;
}
.banner-main {
  width: 100%;
  overflow: hidden;
}
.banner-main > img {
  width: 100%;
}

.mensagem-main {
  width: 100%;
  height: auto;
  margin: 60px auto;
}
.mensagem {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 40px 0;
}

@media (max-width: 600px) {
  .banner-main > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: left;
  }
  .mensagem-main {
    box-sizing: border-box;
    margin: 0 auto;
  }
  .mensagem {
    padding: 20px 10px;
  }
  .mensagem h1 {
    font-size: 1.1rem;
    span {
      font-size: 1.2rem;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
ul,
ol,
li,
section,
article,
div,
p,
a {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
button {
  border: none;
  background: none;
}
::-webkit-scrollbar {
  display: none;
}
