* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html {
  background-color: var(--col-0);
  box-sizing: border-box;
}
.banner-main {
  width: 100%;
  max-height: 570px;
  overflow: hidden;
  position: relative;
}
.banner-main > img {
  width: 100%;
  object-position: top;
  object-fit: cover;
}

/* BANNER DAS TECLAS NO INDEX */
@media (max-width: 768px) {
  .banner-main {
    width: 100%;
    padding-bottom: 30px;
    overflow: hidden;
  }
  .banner-main > img {
    height: 370px;
  }
}

h1,
h2,
h3,
h4,
h5,
ul,
ol,
li,
section,
article,
div,
p,
a {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
button {
  border: none;
  background: none;
}
::-webkit-scrollbar {
  display: none;
}
