.header-bg {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  background-color: var(--col-0);
  z-index: 10;
  border-bottom: 1px solid var(--col-1);
}
.header-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  max-width: 1080px;
}
.logo {
  margin-right: auto;
}

.nav-bar {
  margin: 0 auto;
  display: flex;
  max-width: 1080px;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}
/* ITEM LI DA LISTA MENU */
.nav-item {
  padding: 10px;
}
.nav-item:hover {
  background-color: var(--col-1);
  color: var(--col-3);
}
.mobile-menu-icon {
  display: none;
  filter: invert();
}
.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-bg {
    padding: 20px;
    box-shadow: 0px 7px 10px var(--col-7);
  }
  /* VERSAO PC */
  .nav-item {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
  }
  .mobile-menu .nav-item {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--col-1);
  }
  .nav-item:last-child {
    margin-bottom: 0;
  }
  .open {
    display: block;
  }
}
