.projetos-bg {
  width: 100%;
  height: auto;
  padding: 100px 0;
}
.projetos-container {
  max-width: 1080px;
  margin: 0 auto;
}
/* CONTEUDO DO PROJETO */
.projetos-conteudo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
/* CARD COMPLETO */
.projeto {
  width: 100%;
  height: auto;
  padding: 20px;
  border: 1px solid var(--col-1);
}
/* AREA DA IMAGEM DO CARD */
.projeto-img {
  width: 100%;
  max-height: 350px;
  border: 1px solid var(--col-1);
  overflow: hidden;
}
/* IMAGEM DA AREA DA IMAGEM */
.projeto-img .imgprojeto {
  width: 100%;
  max-height: 400px;
}
/* LINGUAGENS USADAS */
.imgs-linguagens {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--col-1);
  background-color: var(--col-7);
  margin-bottom: 10px;
}
.projeto-buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  gap: 20px;
}
.projeto-buttons button {
  padding: 5px;
  border: 1px solid var(--col-1);
}
.projeto-buttons button:first-child {
  background-color: var(--col-4);
  color: var(--col-1);
}

@media screen and (max-width: 1024px) {
  .projetos-bg {
    padding: 100px 20px;
  }
  .projetos-conteudo {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .imgprojeto {
    object-fit: cover;
    object-position: left top;
  }
}

@media screen and (max-width: 768px) {
  .projetos-conteudo {
    grid-template-columns: 1fr;
  }
}
